QComboBox{
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 8px;
}

QComboBox:hover{
    background-color: #e3e3e3;
}

QComboBox::down-arrow{
    image: url(:/Drawables/drawables/arrow_down.png);
    width: 10;
    height: 10;
}

QComboBox::drop-down{
    border: none;
}