QPushButton#navigator{
    background-color: #f0f0f0;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

QPushButton#navigator:hover{
    background-color: lightgray;
}

QPushButton#navigator:disabled{
    background-color: #f0f0f0;
    color: gray;
    border-color: gray;
}

QPushButton#icon{
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 5px;
}

QPushButton#icon:hover{
    background-color: lightgray;
}

QLabel#ruleText {
    background-color: rgba(255, 255, 255, 0.45);
    padding-left: 10px;
}