QPushButton#navigator{
    background-color: #f0f0f0;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

QPushButton#navigator:hover{
    background-color: lightgray;
}

QPushButton#icon{
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 5px;
}

QPushButton#icon:hover{
    background-color: lightgray;
}

QLabel#result{
    background-color: rgba(211,211,211,60%);
    border: 1px solid black;
    border-radius: 5px;
}